.react-international-phone-input{
  width: 100% !important;
  border: none !important;
  font-size:  1rem !important;
}
.react-international-phone-country-selector-button{
  border: none !important;
}